*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

header{
    background-color: rgb(225, 159, 228);
    text-align: center;
    padding: 25px;
}

footer{
    display: block;
    clear: both;
    background-color: rgb(225, 159, 228);
    text-align: center;
    padding: 25px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}



.row {
    display: flex;
}

.column{
    flex: 50%;
    padding: 20px;
}
.heroart{
    padding: 5px;
    width: 85%;
    height: 85%;
}

.headline{
    color: rgb(170, 26, 170);
    font-weight: bold;
    margin: 20px;
}

.subheadline{
    color: purple;
    text-indent: 20%;
}

.pherobutton{
    text-indent: 30%;
}

.navbar{
    background-color: rgb(27, 27, 27);
    height: 50px;
}

.sechero{
    text-align: center;
}
.resultsec{
    background-color: rgb(240, 238, 238);
    padding: 20px;
}

.probsolsec{
    background-color: rgb(255, 252, 252);
    padding: 20px;
}

.benefitssec{
    background-color: rgb(240, 238, 238);
    padding: 20px;
}

.testimonialssec{
    background-color: rgb(255, 252, 252);
    padding: 20px;
}

.featuressec{
    background-color: rgb(240, 238, 238);
    padding: 20px;
}

.faqsec{
    background-color: rgb(255, 252, 252);
    padding: 20px;
}

.calltoactionsec{
    background-color: rgb(240, 238, 238);
    padding: 20px;
}


/* responsive css */
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}